.bg-slide {
  position: relative;
  display: inline-block;
  padding: 0 4px;
  color: #fff; /* 文字の色 */
  z-index: 1;
  padding: 8px 16px;
}

/* 背景を作るための擬似要素 */
.bg-slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333; /* 背景の色 */
  z-index: -1; /* 文字の後ろに配置 */

  /* 初期状態：横幅を0にしておく */
  transform: scaleX(0);
  transform-origin: left; /* 左から伸びるように指定 */
}

@keyframes bgSlideIn {
  to {
    transform: scaleX(1);
  }
}

/* スクロールする用 */

.h-100vh {
  height: 100vh;
}

/* is-activeがついたらアニメーション始動 */

.is-active:before {
  /* アニメーションの設定 */
  animation: bgSlideIn 0.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}
