/* 画面中央に配置 */
.loader-wrap {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  z-index: 999;
  opacity: 1;
  transform: translateY(0);
  transition:
    opacity 0.8s ease-out,
    transform 0.8s ease-out;
}

.loader {
  /* 見た目の設定 */
  border: 5px solid #f3f3f3; /* 薄いグレーの枠線 */
  border-top: 5px solid #3498db; /* 上側だけ青色にする */
  border-radius: 50%; /* 正円にする */
  width: 40px;
  height: 40px;

  /* アニメーションの設定 */
  animation: spin 1s linear infinite;
}

/* 0度から360度まで回転させる定義 */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 読み込まれたら消える */
.loader-wrap.is-hide {
  opacity: 0;
  transform: translateY(-30px);
  z-index: -1;
  pointer-events: none;
}
